*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: #4f3b3b;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Be Vietnam', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1570px;
    margin: 0 auto;
}
header{
    background-color: #fff;
    padding: 25px 0;
}
header .logo{
    float: left;
    width: 30%;
}
header .logo a{
    font-size: 30px;
    color: #565656;
}
header .menu{
    float: right;
    width: 70%;
}
header .menu li{
    float: right;
    padding-top: 10px;
}
header .menu li a{
    font-size: 16px;
    color: #cbcbcb;
    margin-left: 30px;
    text-transform: uppercase;
}
header .menu li a:hover{
    color: #7b7678;
}

.content{
    float: left;
    width: 70%;
    padding-right: 15px;
    margin-left:30px;
}
.sidebar{
    float: left;
    width: 25%;
    height:1853px;
    padding-right: 15px;
    border-right: 1px solid #ddc9c9;
    margin: 40px 0;
}
.box{
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddc9c9;
    margin: 5px 0;
    padding-bottom: 15px;
}
#idbox{
    border-bottom: 1px solid #ddc9c9;
}
.box > p{
    font-size: 20px;
    padding: 10px 0;
}
.box2{
    width: 100%;
    float: left;
    margin-top: 40px;
}
.box2 > h1{
    margin-bottom: 20px;
}
.box2con{
    width: 100%;
    float: left;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddc9c9;
    padding:10px 0 ;
}
.box-l{
    width: 30%;
    float: left;
}
.box-r{
    width: 70%;
    float: left;
}
.box-r > p{
    font-size: 18px;
    color: #ff453a;
    margin:5px 0;
}
.box-r > h2{
    font-size: 20px;
    color: #ff0e09;
}
.box3{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.box3 > #id1{
    font-size: 20px;
    color:#332b2b;
    font-weight:600;
    margin-bottom: 10px;
}
.box3 > #id2{
    font-size: 20px;
    color:#4f3b3b;
    margin-bottom: 10px;
}
.content{
    width: 72%;
    margin-top: 35px;
}
.box-l-content{
    float: left;
    width: 43%;
    margin-right:5px;
}
.box-r-content{
    float: left;
    width: 54%;
}
.box-r-content #id3{
    font-size: 18px;
}
.box-r-content #id4{
    font-size: 35px;
    color: #4f3b3b;
    margin: 10px 0;
}
.box-r-content #id5{
    font-size: 20px;
    color: #ff453a;
    margin-top: 25px ;
    font-weight: 600;
}
.box-r-content > #khung{
    width: 630px;
    height: 100px;
    border: 1px solid #ddc9c9;
    margin-top: 10px;
    border-radius: 10px;
}
#khung > #id6{
    font-weight: bold;
    font-size: 20px;
    color: #ff453a;
    margin: 7px 5px;
}
#khung > p{
    font-size: 18px;
    color: #4f3b3b;
    margin: 7px 5px;
}
.box-r-content .muahang{
    width: 170px;
    height: 55px;
    background-color: #dd2d23;
    border-radius:10px;
    font-size:22px;
    padding-top:15px;
    padding-left:25px;
    margin-left: 120px;
    margin-top:20px;
    font-weight: 600;
}
.box-r-content .datmon{
    float:left;
    width: 300px;
    height: auto;
    background-color: #dd2d23;
    border-radius:10px;
    font-size:22px;
    padding:10px;
    margin-top:20px;
    font-weight: 600;
}
.box-r-content .facebook{
    float:left;
    width: 300px;
    height: auto;
    background-color: #8557f0;
    border-radius:10px;
    font-size:22px;
    padding:10px;
    margin-left:30px;
    margin-top:20px;
    font-weight: 600;
    display: inline-block;
}
.icon{
    float:left;
    width:630px;
    margin-top: 10px;
    background-color: white;
    border-bottom: 1px solid #ddc9c9;
    padding-bottom: 50px;
}
#id7{
    font-size: 17px;
    line-height: 2.5;
}

.tron{
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}
#id8{
    margin-top: 10px;
    font-size: 17px;
    margin-right: 10px;
    font-weight: bold;
    color: #4f3b3b;
}
#id9{
    font-size: 16px;
    line-height:2.5;
    font-weight: bold;
    color: #4f3b3b;
}
#idbox2{
    margin-top: 20px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ddc9c9;
}
.nhanxet{
    width: 100%;
    height: 580px;
    border: 1px solid #9acd32;
    border-radius: 5px;
    font-size: 17px;
    padding:20px 40px;
}
.nhanxet > p{
    margin-top:10px;
    font-size:18px;
    font-weight:bold;
}
.rating{
    width: 550px;
    height: 50px;
}
#iconrate{
    padding-right:10px;
    border-right: 1px solid #ddc9c9;
}
#iconrate*{
    border: none;
}
#idbox3{
    margin-top:10px;
    width: 980px;
    height: 150px;
    border: 1px solid #9acd32;
    border-radius:5px;
}
#idbox4{
    width:100%;
    height:130px;
}
#idten{
    margin-top:20px;
    float: left;
    border: one;
    width: 465px;
    height: 50px;
    margin-right: 50px;
}
#idemail{
    margin-top:20px;
    float: left;
    border: none;
    width: 465px;
    height: 50px;
}
#idtenkhung{
    float: left;
    border: solid 1px #9acd32;
    width: 465px;
    height: 50px;
    margin-right: 50px;
}
#idemailkhung{
    float: left;
    border: solid 1px #9acd32;
    width: 465px;
    height: 50px;
    margin-right: 50px;
}
.guidi{
    margin-top:20px;
    background-color: #698036;
    width: 110px;
    height: 50px;
    color:white;
    font-size:18px;
    font-weight:bold;
    border-radius:5px;
    padding:15px 25px;
}
#box3{
    width: 100%;
    font-size: 20px;
    padding: 20px 0;
}
.sanphamtuongtu{
    margin-left: 10px;
    margin-top: 20px;
    width: 100%;
}
.sanphamcuthe{
    float: left;
    margin-right: 22px;
    padding-left: 1px;
}
.muangay{
    width: 120px;
    height: 40px;
    background-color: #c8cd23;
    border-radius: 5px;
    font-weight:600;
    color:white;
    padding:10px 12px;
    font-size:18px;
    margin:10px 40px;
}
.tensanpham{
    width: 200px;
    height: 40px;
    background-color: #fff;
    font-size:20px;
    text-align:center;
    color:#f14141;
    font-weight:600
}
.giatien{
    font-size:20px;
    color:#c01b1b;
    font-weight:600;
    margin:10px 63px;
}
