*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    color: #a5a5a1;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Be Vietnam', sans-serif;
}
header{
    background-color: #f2f2f2;
}
.container{
    width: 100%;
    background-color: #ffffff;
    float: left;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
li{
    list-style: none;
}
.content{
    padding: 20px;
}
header .logo{
    width:30%;
    float: left;
}
header .logo img{
    margin-left: 100px;
    margin-bottom: 20px;
}
header .box-middle{
    width:60%;
    float: left;
}
header .box-middle img{
    width: 650px;
    height: 150px;
}
header .box-right{
    width: 10%;
    float: right;
    background-color: white;
}
header .box-right a img{
    width: 50px;
    height: 50px;
    margin-top: 50px;
}
header .menu{
    background-color: #ff8c00;
    width: 1250px;
    float:left;
    height: 40px;
}
header .menu h3 a{
    color: black;
    text-decoration: none;
    margin-top: 10px;
    float: left;
    margin-left: 60px;
}
header .menu li{
    float: left;
    padding-top: 5px;
    margin-right: 30px;
    margin-top: 5px;
}
header .menu li a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 15px;
    margin-left: 30px;
}
header .menu .box-right{
    margin-top: 7px;
    float: right;
    background-color: red;
    width: 200px;
    margin-right: 200px;
    height: 25px;
    border-radius: 5px;
}
header .menu .box-right p{
    color: #f2f2f2;
    padding-left: 20px;
    padding-top: 5px;
}

section{
    background-color: #ffffff;
    float: left;
}
section .container{
    width: 100%;
    float: left;
}
section .container .box-left{
    width: 60%;
    background-color: white;
    float: left;
    border-right: 2px solid #f2f2f2;
}
section .box-left .box-middle{
    margin: 40px 40px 40px 55px ;
    background-color: #f2f2f2;
    height: 550px;
}
section .box-left .box-middle .box-1{
    background-color: white;
    width: 100%;
    height: 30px;
}
section .box-left .box-middle .box-1 .box-a{
    width: 50%;
    float: left;
    background-color: white;
}
section .box-left .box-middle .box-1 .box-a p{
    color: black;
    font-weight: 600;
    font-size: 17px;
}
section .box-left .box-middle .box-1 .box-b {
    width: 50%;
    float: right;
    background-color: white;
}
section .box-left .box-middle .box-1 .box-b li{
    float: left;
    color: black;
    font-size: 17px;
    font-weight: 600;
    margin-right: 50px;
}

section .box-left .box-middle .box-2{
    width: 100%;
    background-color: white;
    margin-top: 3px;
    float: left;
    height: 120px;
}
section .box-left .box-middle .box-2 .box-2-1 .box-a{
    margin-top: 3px;
    width: 50%;
    float: left;
}
section .box-left .box-middle .box-2 .box-2-1 .box-a .box-a-1 img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    float: right;
}
section .box-left .box-middle .box-2 .box-2-1 .box-a .box-a-2{
    width:220px;
    float: right;
}
section .box-left .box-middle .box-2 .box-2-1 .box-a .box-a-2 p{
    color: green;
    margin-top: 55px;
}
section .box-left .box-middle .box-2 .box-2-1 .box-a .box-a-1{
    width: 100px;
    float: left;
    height: 120px;
}
section .box-left .box-middle .box-2 .box-2-1 .box-b{
    width: 50%;
    float: right;
    height: 120px;
}
section .box-left .box-middle .box-2 .box-2-1 .box-b .box-b-1{
    width: 25%;
    float:left;
    height: 120px;
}
section .box-left .box-middle .box-2 .box-2-1 .box-b .box-b-1 p{
    color: red;
    font-size: 17px;
    font-weight: 700;
    margin-top: 55px;
}
section .box-left .box-middle .box-2 .box-2-1 .box-b .box-b-2{
    width: 45%;
    float: left;
    height: 120px;
}
section .box-left .box-middle .box-2 .box-2-1 .box-b .box-b-2 input{
    margin-top: 55px;
}
section .box-left .box-middle .box-2 .box-2-1 .box-b .box-b-3{
    width: 30%;
    float: right;
    height: 120px;
}
section .box-left .box-middle .box-2 .box-2-1 .box-b .box-b-3 p{
    color: red;
    font-size: 17px;
    font-weight: 700;
    margin-top: 55px;
}

section .box-left .box-middle .box-3{
    margin-top: 1px;
    height: 30px;
    float: left;
}
section .box-left .box-middle .box-3 .box{
    float: left;
}
section .box-left .box-middle .box-3 .box .box-a{
    float:left;
    background-color: white;
    width: 663px;
    height: 60px;
}
section .box-left .box-middle .box-3 .box .box-a .box-a-1{
    padding-top: 10px;
    border: 2px solid green;
    height: 40px;
    width: 250px;
    float: left;
    margin-top: 10px;
}
section .box-left .box-middle .box-3 .box .box-a .box-a-1 a{
    text-decoration: none;
    color: green;
    margin-top: 7px;
    margin-left: 25px;
    font-weight: 600;
}
section .box-left .box-middle .box-3 .box .box-a .box-a-2{
    float: left;
    margin-top: 10px;
    background-color: #ff8c00;
    margin-left: 20px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    padding-top: 10px;
}
section .box-left .box-middle .box-3 .box .box-a .box-a-2 a{
    text-decoration: none;
    color: #f2f2f2;
    margin-left: 20px;
    font-weight: 600;
}
section .box-left .box-middle .box-3 .box .box-b{
    background-color: white;
    width: 100%;
    float: left;

}
section .box-left .box-middle .box-3 .box .box-b h3{
    color: black;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
}
section .box-left .box-middle .box-3 .box .box-c{
    float: left;
    background-color: white;
    width: 100%;
}
section .box-left .box-middle .box-3 .box .box-c .box-c-1{
    float: left;
    width: 100%;
}
section .box-left .box-middle .box-3 .box .box-c .box-c-1 figure{
    width: 150px;
    background-color: #ffffff;
}
section .box-left .box-middle .box-3 .box .box-c .box-c-1 img{
    width: 150px;
    height: 150px;
}
section .box-left .box-middle .box-3 .box .box-c .box-c-1 figcaption{
    color: green;
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 7px;
    text-align: center;
}
section .box-left .box-middle .box-3 .box .box-c .box-c-2{
    width: 100%;
    background-color: white;
}
section .box-left .box-middle .box-3 .box .box-c .box-c-2 p{
    color: red;
    margin-left: 50px;
    font-weight: 600;
    font-size: 17px;
}
section .box-left .box-middle .box-3 .box .box-d{
    width: 100%;
    background-color: white;
    height: 50px;
    float: left;
}
section .box-left .box-middle .box-3 .box .box-d .box-d-1{
    width: 95px;
    height: 30px;
    background-color: orange;
    border-radius: 5px;
    margin-left: 35px;
    padding-top: 5px;
}
section .box-left .box-middle .box-3 .box .box-d .box-d-1 a{
    text-decoration: none;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
}




section .container .box-right{
    float: right;
    background-color: #ffffff;
    width: 40%;
    margin-top: 25px;
    padding-left: 2px;
}
section .box-right .box{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    background-color: #f2f2f2;
    height: 385px;
}
section .box-right .box .box-1{
    height: 25px;
    margin-top: 20px;
    background-color: #ffffff;
}
section .box-right .box .box-1 h3{
    font-weight: 700;
    color: black;
}
section .box-right .box .box-2{
    background-color: #ffffff;
    margin-top: 3px;
    height: 50px;
}
section .box-right .box .box-2 .box-a{
    float:left;
    width: 60%;
}
section .box-right .box .box-2 .box-a p{
    color: black;
    margin-top: 20px;
    font-size: 15px;
}
section .box-right .box .box-2 .box-b{
    width: 40%;
    float:right;
}
section .box-right .box .box-2 .box-b p{
    color: red;
    font-weight: 500;
    margin-top: 20px;
    float: right;
}

section .box-right .box .box-3{
    background-color: #ffffff;
    margin-top: 3px;
    height: 50px;
}
section .box-right .box .box-3 .box-a{
    float:left;
    width: 60%;
}
section .box-right .box .box-3 .box-a p{
    color: black;
    margin-top: 20px;
    font-size: 15px;
}
section .box-right .box .box-3 .box-b{
    width: 40%;
    float:right;
}
section .box-right .box .box-3 .box-b p{
    color: red;
    font-weight: 500;
    margin-top: 20px;
    float: right;
}

section .box-right .box .box-4{
    margin-top: 3px;
    background-color: white;
    float: left;
    width:100%;
}
section .box-right .box .box-4 .box-4-1{
    background-color: red;
    height: 40px;
    border-radius: 5px;
    margin-top: 40px;
    padding-top: 10px;
}
section .box-right .box .box-4 .box-4-1 a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 130px;
}

section .box-right .box .box-5{
    background-color: white;
    float: left;
    width: 100%;
}
section .box-right .box .box-5 .box-5-1{
    background-color: white;
    height: 50px;
    float: left;
    width: 100%;
}
section .box-right .box .box-5 .box-5-1 h3{
    color: black;
    font-size: 15px;
    margin-top: 30px;
}

section .box-right .box .box-6{
    background-color: #ffffff;
    margin-top: 3px;
    float: left;
    width: 100%;
    height: 60px;
}
section .box-right .box .box-6 .box-6-1{
    border-radius: 5px;
    height:40px;
    border: 1px solid orange;
    margin-top: 15px;
}
section .box-right .box .box-6 .box-6-1 p{
    margin-top: 7px;
    margin-left: 7px;
}

section .box-right .box .box-7{
    background-color: white;
    float: left;
    width: 100%;
    height: 60px;
}
section .box-right .box .box-7 .box-7-1{
    height:40px;
    border: 1px solid #a5a5a1;
    margin-top: 15px;
}
section .box-right .box .box-7 .box-7-1 p{
    margin-top: 7px;
    margin-left: 200px;
    font-weight: 600;
}

section .container-1{
    background-color: orange;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}
section .container-1 .box{
    margin-left: 500px;
}
section .container-1 .box p{
    color: white;
}