
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tintuc</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700,800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../vendors/fontawesome/css/all.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="contactleft">
    <button class="chatface">
        <a href="https://www.messenger.com" target="_blank">Chat Facebook</a>
    </button>

    <button class="hotlineleft">
        <a href="tel:0912132595">Hotline: 0912132595</a>
    </button>
</div>
<div class="contactright">
    <a class="item1" href="#">Chương Trình Khuyến Mãi</a>
    <a class="item2" href="#">Xem Đầy Đủ Menu</a>
    <a class="item3" href="#">Hệ Thống Cửa Hàng</a>
    <a class="item4" href="#">Nhượng Quyền Thương Hiệu</a>
</div>

<div class="layouttintuc">
    <div class="baiviet1">
        <p><a href="#">TIN KHUYẾN MÃI, TIN TỨC</a></p>
        <h1>0 đồng TigerSugar Delivery !!!</h1>
        <p>POSTED ON <a href="#">17/11/2019</a> BY <a href="#">SUGAR TIGER</a></p><br>
        <p>Bữa Xế Thích Mê cùng với Sữa tươi trân châu đường nâu trứ danh của <a href="#">#Tiger_Sugar_Delivery </a> không nào các bạn Hà Nội!!!</p><br>
        <h4>🤭Lưu ý đối với mã <a href="#">#TIGER999</a></h4>
        <p>– Ưu đãi có giá trị lên đến 60.000đ, áp dụng cho toàn bộ menu của Tiger Sugar.Delivery từ 14g đến 17g.</p>
        <P>– Chỉ áp dụng cho khách hàng lần đầu sử dụng GrabFood tại HN</P>
        <P>– Chỉ áp dụng từ ngày 18/11 đến 24/11</P>
        <P>– Mỗi khách hàng chỉ được sử dụng 01 lần duy nhất.</P>
        <P>– Mã khuyến mãi áp dụng các cửa hàng Tiger Sugar.Delivery liệt kê trên #GrabFood.</P>
        <P>– Chỉ áp dụng trên giá đơn hàng, không áp dụng trên phí vận chuyển.</P>
        <P>– Số lượng khuyến mãi giới hạn mỗi ngày.</P>
        <h4>Lưu ý đối với mã <a href="#">#TIGER30</a></h4>
        <p>– Mã có giá trị ưu đãi 30%, tối đa 50.000đ, áp dụng cho toàn bộ menu của Tiger Sugar.Delivery từ 14g đến 17g.</p>
        <P>– Chỉ áp dụng từ ngày 18/11 đến 24/11</P>
        <P>– Mỗi khách hàng chỉ được sử dụng 01 lần mỗi ngày.</P>
        <P>– Mã khuyến mãi áp dụng các cửa hàng Tiger Sugar.Delivery liệt kê trên #GrabFood.</P>
        <P>– Chỉ áp dụng trên giá đơn hàng, không áp dụng trên phí vận chuyển.</P>
        <P>– Số lượng khuyến mãi giới hạn mỗi ngày.</P>
        <P>----------------------------------</P>
            <p>🏢HÀ NỘI:</p>
            <P>🏠 20-B10 Phạm Ngọc Thạch – Đống Đa – HN</P>
            <p>🏠 05 Thái Phiên – Hai Bà Trưng – Hà Nội</p>
            <P>🏠 167 Xuân Thủy – Cầu Giấy – Hà Nội</P>
            <P>🏠 503 Nguyễn Trãi – Thanh Xuân – Hà Nội</P>
            <P>🏠 64 Láng Hạ – Đống Đa – Hà Nội</P>
            <P>🏠 124 Ngọc Lâm – Long Biên – Hà Nội</P>
            <P>🏠 69 Đào Tấn – Ba Đình – Hà Nội</P>
            <P>🏠 114 Tân Mai – Hoàng Mai – Hà Nội</P>
            <P>🏠 85 Vĩnh Hưng – Hoàng Mai – Hà Nội</P>
            <P>🏠 177 Quang Trung – Hà Đông – Hà Nội</P>
            <P>🏠 64 Quán Sứ – Hoàn Kiếm – Hà Nội</P>
            <P>🏠 B4-26 VinHomes Gardenia – Hàm Nghi – Hà Nội</P>
            <P>🏠 18 Phố Vĩnh Tuy – Hai Bà Trưng – Hà Nội</P>
            <P>🏠 18 Nguyễn Khang – Cầu Giấy – Hà Nội</P>
            <P>🏠 436 Tây Sơn – Đống Đa – Hà Nội</P>
            <P>🏠 Emerald Mỹ Đình – Nam Từ Liêm – Hà Nội ( coming soon )</P><br>
            <p>🏢ĐÀ NẴNG:</p>
            <p>🏠 150 Đống Đa – Hải Châu – Đà Nẵng</p>
            <p>🏠 65 Phan Đăng Lưu – Hải Châu – Đà Nẵng</p>
            <p>🏠 … Nguyễn Văn Thoại – Sơn Trà – Đà Nẵng( coming soon )</p><br>
            <p>🏢HỒ CHÍ MINH:</p>
            <p>🏠 194 Nguyễn Thái Học – Q.1 – Hồ Chí Minh</p>
            <p>🏠 148B Võ Thị Sáu – Q.3 – Hồ Chí Minh</p>
            <p>🏠 57 Nguyễn Văn Cừ – Q.5 – Hồ Chí Minh</p>
            <p>🏠 154 Lý Thường Kiệt – Q.10 – Hồ Chí Minh</p>
            <p>🏠 57B Mai Văn Vĩnh – Q.7 – Hồ Chí Minh</p>
            <p>🏠 743 CMT8 – Q.Tân Bình – Hồ Chí Minh</p>
            <p>🏠 1200A Kha Vạn Cân – Q.Thủ Đức – Hồ Chí Minh</p>
            <p>🏠 72 Nguyễn Thông – Quận 3 – Hồ Chí Minh</p>
            <p>🏠 82 Phan Đăng Lưu, Q. Phú Nhuận, Hồ Chí Minh</p>
            <p>🏠 74 Võ Oanh, Q. Bình Thạnh, Hồ Chí Minh</p>
            <p>🏠 468 Nguyễn Thái Sơn, Q.Gò Vấp, Hồ Chí Minh</p>
            <p>🏠 37 Nguyễn Sơn, Q.Tân Phú, Hồ Chí Minh( coming soon )</p>
            <p>----------------------------------</p>
            <p>☎ Hotline : 03.444.23.999</p>
            <p>📮 Website: tigersugar.com.vn</p>
            <p>📧 Email : tigersugarvn@gmail.com</p>
            <p>📬 Fanpage: <a href="#"> #tigersugarvietnam #tigersugardanang #tigersugarhochiminh</a></p>
        <img src="https://tigersugar.com.vn/wp-content/uploads/2019/11/Grab-0%C4%91.png" width="800px">
        <div class="nhanxetkhachhang">
            <h3><b>Trả lời</b></h3>
            <P>Email của bạn sẽ không được hiển thị công khai. Các trường bắt buộc được đánh dấu *</P>
            <div class="hop1">
                <label><b>Bình luận</b></label>
                <input class="hop01" type="text" name="fullname" required/><br>
            </div>
            <div class="hop2">
                <label><b>Tên*</b></label>
                <input class="hop02" type="text" name="fullname" required/>
            </div>
            <div class="hop3">
                <label><b>Email*</b></label>
                <input class="hop03" type="text" name="fullname" required/>
            </div>
            <div class="hop4">
                <label><b>Trang web</b></label>
                <input class="hop04" type="text" name="fullname" required/>
            </div>
            <div class="hop5">
                <button class="nutbam" type="button">Phản hồi</button>

            </div>
            </div>
        </div>
    </div>
    <div class="khungphai">
        <h3>Bài viết - Tin tức</h3>
        <div class="box">
            <img src="https://tigersugar.com.vn/wp-content/uploads/2019/12/AUT-FAKE.jpg" width="50px" height="26px">
            <a href="https://tea-project.herokuapp.com/view/baiviet.html"> 📌📌📌KHÁM PHÁ 3 DẤU HIỆU NHẬN DIỆN #TIGERSUGAR_DELIVERY_AUTHENTIC</a>
        </div>
        <div class="box">
            <img src="https://tigersugar.com.vn/wp-content/uploads/2019/11/BLACK-FRIDAY.jpg" width="50px" height="26px">
            <a href="https://tea-project.herokuapp.com/view/baiviet.html">🔥🔥🔥 “BLACK FRIDAY” MONG CHỜ NHẤT TRONG NĂM 2019 🔥🔥🔥</a>
        </div>
        <div class="box">
            <img src="https://tigersugar.com.vn/wp-content/uploads/2019/11/Grab-0%C4%91.png" width="50px" height="26px">
            <a href="https://tea-project.herokuapp.com/view/baiviet.html">0 đồng TigerSugar Delivery !!!</a>
        </div>
        <div class="box">
            <img src="https://tigersugar.com.vn/wp-content/uploads/2019/11/76779538_1675687279228726_5796242422480502784_o-1024x1024.jpg" width="50px" height="26px">
            <a href="https://tea-project.herokuapp.com/view/baiviet.html">LAUNCHING TIGERSUGAR DELIVERY 436 TÂY SƠN – HÀ NỘI (11/11/2019)</a>
        </div>
        <div class="box">
            <img src="https://tigersugar.com.vn/wp-content/uploads/2019/11/LAUNCHING-18-NGUYEN-KHANG-TIGERSUGAR-1024x683.jpg" width="50px" height="26px">
            <a href="https://tea-project.herokuapp.com/view/baiviet.html">GRAND-OPENING TIGERSUGAR DELIVERY – 18 NGUYỄN KHANG – HN (12/11/2019)</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/sanpham.js"></script>
<script type="text/javascript" src="../js/header.js"></script>
</body>
</html>