<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bai Viet</title>
</head>
<body>
	<header class="section">
        <div class="container">
            <div class="logo">
                <a href="#"><img src="images/logo-tigersugar.png" alt=""></a>
            </div>
            <div>
            </div>
        </div>
    </header>
    <section class="section abc">
    	<div class="container">
        	<div class="menu">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="view/gioithieu.html" target="_blank">Giới thiệu</a></li>
                    <li><a href="view/menu.html" target="_blank">Menu</a></li>
                    <li><a href="view/blog.html" target="_blank">Tin tức</a></li>
                    <li><a href="view/lienhe.html" target="_blank">Liên hệ</a></li>
                </ul>
            </div>
		</div>
	</section>
</body>
</html>