<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gio Hang</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap-3.3.7/css/bootstrap.css">
</head>
<body>
<header class="section">
    <div class="container">
        <div class="logo">
            <a href="#"><img src="images/logo-tigersugar.png" alt=""></a>
        </div>
        <div class="banner-top">
            <img src="images/banner-head.jpg" alt="">
        </div>
        <div class="cart-icon">

        </div>
    </div>
</header>
<section class="section abc">
    <div class="container">
        <div class="menu">
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="view/gioithieu.html" target="_blank">Giới thiệu</a></li>
                <li><a href="view/menu.html" target="_blank">Menu</a></li>
                <li><a href="view/blog.html" target="_blank">Tin tức</a></li>
                <li><a href="view/lienhe.html" target="_blank">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="box-left">
            <div class="box-middle">
                <div class="box-1">
                    <div class="box-a">
                        <p>SAN PHAM</p>
                    </div>
                    <div class="box-b">
                        <ul>
                            <li>GIA</li>
                            <li>SO LUONG</li>
                            <li>TONG</li>
                        </ul>
                    </div>
                </div>
                <div class="box-2">
                    <div class="box-2-1">
                        <div class="box-a">
                            <div class="box-a-1">
                                <img src="../images/01.png"/>
                            </div>
                            <div class="box-a-2">
                                <p> duong nau Macchiato</p>
                            </div>
                        </div>
                        <div class="box-b">
                            <div class="box-b-1">
                                <p>45.000</p>
                            </div>
                            <div class="box-b-2">
                                <input type="button" value="-"/>
                                <input type="number" id="quantity_5ddcc2f22cd3f" class="input-text qty text" step="1" min="0" max="9999" name="cart[a5bfc9e07964f8dddeb95fc584cd965d][qty]" value="1" title="SL" size="4" inputmode="numeric">
                                <input type="button" value="+" >
                            </div>
                            <div class="box-b-3">
                                <p>45.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-3">
                        <div class="box">
                            <div class="box-a">
                                <div class="box-a-1">
                                    <a href="#">TIEP TUC XEM SAN PHAM</a>
                                </div>
                                <div class="box-a-2">
                                    <a href="#">CAP NHAT GIO HANG</a>
                                </div>
                            </div>
                            <div class="box-b">
                                <h3>Ban Co The Thich...</h3>
                            </div>
                            <div class="box-c">
                                <div class="box-c-1">
                                    <figure>
                                        <img src="../images/01.png"/>
                                        <figcaption>Duong Nau Macchio</figcaption>
                                    </figure>
                                </div>
                                <div class="box-c-2">
                                    <p>45.000</p>
                                </div>
                            </div>
                            <div class="box-d">
                                <div class="box-d-1">
                                    <a href="#">MUA NGAY</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-right">
            <div class="box">
                <div class="box-1">
                    <h3>Cong Gio Hang</h3>
                </div>
                <div class="box-2">
                    <div class="box-a">
                        <p>Tam Tinh</p>
                    </div>
                    <div class="box-b">
                        <p>180.000</p>
                    </div>
                </div>
                <div class="box-3">
                    <div class="box-a">
                        <p>Tong</p>
                    </div>
                    <div class="box-b">
                        <p>180.000</p>
                    </div>
                </div>
                <div class="box-4">
                    <div class="box-4-1">
                        <a href="#">Tien Hanh Thanh Toan</a>
                    </div>
                </div>
                <div class="box-5">
                    <div class="box-5-1">
                        <h3>Phieu Uu Dai</h3>
                    </div>
                </div>
                <div class="box-6">
                    <div class="box-6-1">
                        <p>Ma Uu dai </p>
                    </div>
                </div>
                <div class="box-7">
                    <div class="box-7-1">
                        <p>Ap Dung</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-1">
        <div class="box">
            <p>Thiet ke boi: Tiger Sugar   Nam</p>
        </div>
    </div>
</section>
</body>
</html>