<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700,800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../vendors/fontawesome/css/all.css"/>
    <link rel="stylesheet" href="../vendors/nivoslider/themes/default/default.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../vendors/nivoslider/nivo-slider.css" type="text/css" media="screen"/>
</head>
<body>
<div class="section">
    <div class="container">
        <div class="col-md-12 all-products">
            <div class="pen1">
                <div class="headerpen1">
                    <a class="hinh" style="text-decoration: none">mix tiger sugar</a>
                    <b></b>
                </div>
                <div class="mouse">
                    <div class="mouse1">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-nau-kem-500x500.png"></div>
                            <figcaption>
                                <p>Đường Nâu Kem<br>Cheese</p></a><p><div id="price">
                                45.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse2">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-nau-socola-mix.png"></div>
                            <figcaption>
                                <p>Đường Nâu Socola<br>Mix</p></a><p><div id="price">
                                45.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse3">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-nau-machiato.png"></div>
                            <figcaption>
                                <p>Đường Nâu <br>Macchiato</p></a><p><div id="price">
                                45.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse4">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-nau-sau-rieng.png"></div>
                            <figcaption>
                                <p>Đường Nâu Sầu<br>Riêng</p></a><p><div id="price">
                                45.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse5">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-nau-dau-sua.jpg"></div>
                            <figcaption>
                                <p>Đường Nâu Dâu<br>Sữa</p></a><p><div id="price">
                                45.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse6">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-nau-cappuccino.jpg"></div>
                            <figcaption>
                                <p>Đường Nâu<br>Cappuccino</p></a><p><div id="price">
                                45.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                </div>
            </div>

            <div class="pen2">
                <div class="headerpen2">
                    <a class="hinh" style="text-decoration: none">original tiger sugar</a>
                    <b></b>
                </div>
                <div class="mouse">
                    <div class="mouse1">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-tran-chau-sua.jpg"></div>
                            <figcaption>
                                <p>Đường Trân Châu<br>Sữa</p></a><p><div id="price">
                                39.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse2">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-nau-tra-den-sua.jpg"></div>
                            <figcaption>
                                <p>Đường Nâu Trà<br>Đen</p></a><p><div id="price">
                                42.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse3">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-sua-huong-nhai.jpg"></div>
                            <figcaption>
                                <p>Đường Nâu Olong<br>Sữa</p></a><p><div id="price">
                                42.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse4">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-nau-matcha-sua.jpg"></div>
                            <figcaption>
                                <p>Đường Nâu Matcha<br>Sữa</p></a><p><div id="price">
                                42.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse5">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-nau-cacao-sua.jpg"></div>
                            <figcaption>
                                <p>Đường Nâu CaCao<br>Sữa</p></a><p><div id="price">
                                42.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                </div>
            </div>

            <div class="pen3">
                <div class="headerpen3">
                    <a class="hinh" style="text-decoration: none">top limited series</a>
                    <b></b>
                </div>
                <div class="mouse">
                    <div class="mouse1">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/green-tiger-l.jpg"></div>
                            <figcaption>
                                <p>Green Tiger (L)</p></a><p><div id="price">
                                65.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse2">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/duong-nau-tra-den-sua.jpg"></div>
                            <figcaption>
                                <p>Green Tiger</p></a><p><div id="price">
                                55.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                </div>
            </div>

            <div class="pen4">
                <div class="headerpen1">
                    <a class="hinh" style="text-decoration: none">creative flavors</a>
                    <b></b>
                </div>
                <div class="mouse">
                    <div class="mouse1">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-xoai.jpg"></div>
                            <figcaption>
                                <p>Trà Xoài</p></a><p><div id="price">
                                29.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse2">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-dao9.jpg"></div>
                            <figcaption>
                                <p>Trà Đào</p></a><p><div id="price">
                                29.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse3">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/cacao-mix9.jpg"></div>
                            <figcaption>
                                <p>CaCao Mix</p></a><p><div id="price">
                                35.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                </div>
            </div>

            <div class="pen5">
                <div class="headerpen1">
                    <a class="hinh" style="text-decoration: none">cream + milk tea</a>
                    <b></b>
                </div>
                <div class="mouse">
                    <div class="mouse1">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-xoai-sua.jpg"></div>
                            <figcaption>
                                <p>Trà Xoài Sữa</p></a>
                                <p><div id="price">32.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse2">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-kieu-mach-kem-sua.png"></div>
                            <figcaption>
                                <p>Trà Kiều Mạch Kem Sữa</p></a><p><div id="price">
                                37.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse3">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-sua-chocolate.jpg"></div>
                            <figcaption>
                                <p>Trà Sữa Chocolate</p></a><p><div id="price">
                                32.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse4">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-sua-kieu-mach.jpg"></div>
                            <figcaption>
                                <p>Trà Sữa Kiều Mạch</p></a><p><div id="price">
                                32.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse5">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-dao-sua-1.jpg"></div>
                            <figcaption>
                                <p>Trà Đào Sữa</p></a><p><div id="price">
                                29.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse6">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-xanh-kem-sua.jpg"></div>
                            <figcaption>
                                <p>Trà Xanh Kem Sữa</p></a><p><div id="price">
                                32.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse7">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-xoai-kem-sua.jpg"></div>
                            <figcaption>
                                <p>Trà Xoài Kem Sữa</p></a><p><div id="price">
                                32.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                    <div class="mouse8">
                        <figure>
                            <a href="sanpham.html" target="_blank"><div class="khoi"><img src="../images/tra-sua-tran-chau.jpg"></div>
                            <figcaption>
                                <p>Trà Sữa Chân Châu</p></a><p><div id="price">
                                32.000<u>đ</u></div></p>
                            </figcaption>
                        </figure>
                        <a href="thanhtoan.html" target="_blank"><button type="submit" class="btn btn-warning">Mua Ngay</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="contactleft">
        <button class="chatface">
            <a href="https://www.messenger.com" target="_blank">Chat Facebook</a>
        </button>

        <button class="hotlineleft">
            <a href="tel:0912132595">Hotline: 0912132595</a>
        </button>
    </div>

    <div class="contactright">
        <a class="item1" href="#">Chương Trình Khuyến Mãi</a>
        <a class="item2" href="#">Xem Đầy Đủ Menu</a>
        <a class="item3" href="#">Hệ Thống Cửa Hàng</a>
        <a class="item4" href="#">Nhượng Quyền Thương Hiệu</a>
    </div>


<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="../js/footer.js"></script>
<script src="../vendors/bootstrap3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../vendors/nivoslider/jquery.nivo.slider.js" type="text/javascript"></script>
<script type="text/javascript">$('#slider').nivoSlider();</script>

</body>
</html>