<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700,800&display=swap" rel="stylesheet"/>
</head>
<body>
<div class="bigbox">
<div class="boxto">
<header class="section">
    <div class="container">
        <div class="logo">
            <a href="#"><img src="../images/logo-tigersugar.png" alt=""></a>
        </div>
        <div class="banner-top">
            <img src="../images/banner-head.jpg" alt="">
        </div>
    </div>
</header>
<section class="section abc">
    <div class="container">
        <div class="menu">
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</section>
</div>


<div class="main_pen">
    <div class="pen">
            <div class="pen1">
                <div class="headerpen1">
                    <a class="hinh">mix tiger sugar</a>
                    <b></b>
                </div>
                <div class="mouse">
                    <div class="mouse1">
                        <figure>
                            <div class="khoi"><img src="../images/duong-nau-kem-500x500.png"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Nâu Kem<br>Cheese</font></p><br><p><div id="price">45.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse2">
                        <figure>
                            <div class="khoi"><img src="../images/duong-nau-socola-mix.png"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Nâu Socola<br>Mix</font></p><br><p><div id="price">45.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse3">
                        <figure>
                            <div class="khoi"><img src="../images/duong-nau-machiato.png"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Nâu <br>Macchiato</font></p><br><p><div id="price">45.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse4">
                        <figure>
                            <div class="khoi"><img src="../images/duong-nau-sau-rieng.png"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Nâu Sầu<br>Riêng</font></p><br><p><div id="price">45.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse5">
                        <figure>
                            <div class="khoi"><img src="../images/duong-nau-dau-sua.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Nâu Dâu<br>Sữa</font></p><br><p><div id="price">45.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse6">
                        <figure>
                            <div class="khoi"><img src="../images/duong-nau-cappuccino.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Nâu<br>Cappuccino</font></p><br><p><div id="price">45.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="pen2">
                <div class="headerpen2">
                    <a class="hinh">original tiger sugar</a>
                    <b></b>
                </div>
                <div class="mouse">
                    <div class="mouse1">
                        <figure>
                            <div class="khoi"><img src="../images/duong-tran-chau-sua.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Trân Châu<br>Sữa</font></p><br><p><div id="price">39.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse2">
                        <figure>
                            <div class="khoi"><img src="../images/duong-nau-tra-den-sua.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Nâu Trà<br>Đen</font></p><br><p><div id="price">42.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse3">
                        <figure>
                            <div class="khoi"><img src="../images/tra-sua-huong-nhai.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Nâu Olong<br>Sữa</font></p><br><p><div id="price">42.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse4">
                        <figure>
                            <div class="khoi"><img src="../images/duong-nau-matcha-sua.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Nâu Matcha<br>Sữa</font></p><br><p><div id="price">42.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse5">
                        <figure>
                            <div class="khoi"><img src="../images/duong-nau-cacao-sua.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Đường Nâu CaCao<br>Sữa</font></p><br><p><div id="price">42.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="pen3">
                <div class="headerpen3">
                    <a class="hinh">top limited series</a>
                    <b></b>
                </div>
                <div class="mouse">
                    <div class="mouse1">
                        <figure>
                            <div class="khoi"><img src="../images/green-tiger-l.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Green Tiger (L)</font></p><br><p><div id="price">65.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse2">
                        <figure>
                            <div class="khoi"><img src="../images/duong-nau-tra-den-sua.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Green Tiger</font></p><br><p><div id="price">55.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="pen4">
                <div class="headerpen1">
                    <a class="hinh">creative flavors</a>
                    <b></b>
                </div>
                <div class="mouse">
                    <div class="mouse1">
                        <figure>
                            <div class="khoi"><img src="../images/tra-xoai.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Trà Xoài</font></p><br><p><div id="price">29.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse2">
                        <figure>
                            <div class="khoi"><img src="../images/tra-dao9.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Trà Đào</font></p><br><p><div id="price">29.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse3">
                        <figure>
                            <div class="khoi"><img src="../images/cacao-mix9.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">CaCao Mix</font></p><br><p><div id="price">35.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="pen5">
                <div class="headerpen1">
                    <a class="hinh">cream + milk tea</a>
                    <b></b>
                </div>
                <div class="mouse">
                    <div class="mouse1">
                        <figure>
                            <div class="khoi"><img src="../images/tra-xoai-sua.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Trà Xoài Sữa</font></p><br><p><div id="price">32.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse2">
                        <figure>
                            <div class="khoi"><img src="../images/tra-kieu-mach-kem-sua.png"></div>
                            <figcaption><p><font color="#1b9e2c">Trà Kiều Mạch Kem Sữa</font></p><br><p><div id="price">37.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse3">
                        <figure>
                            <div class="khoi"><img src="../images/tra-sua-chocolate.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Trà Sữa Chocolate</font></p><br><p><div id="price">32.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse4">
                        <figure>
                            <div class="khoi"><img src="../images/tra-sua-kieu-mach.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Trà Sữa Kiều Mạch</font></p><br><p><div id="price">32.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse5">
                        <figure>
                            <div class="khoi"><img src="../images/tra-dao-sua-1.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Trà Đào Sữa</font></p><br><p><div id="price">29.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse6">
                        <figure>
                            <div class="khoi"><img src="../images/tra-xanh-kem-sua.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Trà Xanh Kem Sữa</font></p><br><p><div id="price">32.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse7">
                        <figure>
                            <div class="khoi"><img src="../images/tra-xoai-kem-sua.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Trà Xoài Kem Sữa</font></p><br><p><div id="price">32.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                    <div class="mouse8">
                        <figure>
                            <div class="khoi"><img src="../images/tra-sua-tran-chau.jpg"></div>
                            <figcaption><p><font color="#1b9e2c">Trà Sữa Chân Châu</font></p><br><p><div id="price">32.000<u>đ</u></div></p><br><p><c class="buttom" >Mua Ngay</></p></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
    </div>
</div>
    <div class="contactleft">
        <button class="chatface">
            <a href="https://www.messenger.com" target="_blank">Chat Facebook</a>
        </button>

        <button class="hotlineleft">
            <a href="tel:0912132595">Hotline: 0912132595</a>
        </button>
    </div>

    <div class="contactright">
        <a class="item1" href="#">Chương Trình Khuyến Mãi</a>
        <a class="item2" href="#">Xem Đầy Đủ Menu</a>
        <a class="item3" href="#">Hệ Thống Cửa Hàng</a>
        <a class="item4" href="#">Nhượng Quyền Thương Hiệu</a>
    </div>
</div>

</body>
</html>