<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>San Pham</title>
    <link rel="stylesheet" type="text/css" href="../css/style_huyduc.css"/>
</head>
<body>
<header class="section">
    <div class="container">
        <div class="logo">
            <a href="#">ACCIO</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Trang chu</a></li>
                <li><a href="#">Gioi thieu</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Tin tuc</a></li>
                <li><a href="#">Lien he</a></li>
            </ul>
        </div>
    </div>
</header>
<section class="section">
    <div class="container">
        <div class="sidebar">
            <div class="box">
                <h1 style="color: #4f3b3b">DANH MỤC SẢN PHẨM</h1>
                <p><a href="#">Cream + Milk Tea</a></p>
            </div>
            <div class="box">
                <p><a href="#">Create + Flavors</a></p>
            </div>
            <div class="box">
                <h2 style="color: #4f3b3b;">Mix Tiger Sugar</h2>
            </div>
            <div class="box">
                <p><a href="#" >Original Tiger Sugar</a></p>
            </div>
            <div class="box">
                <p><a href="#">Top limited series</a></p>
            </div>
            <div class="box2">
                <h1 style="color: #4f3b3b">SẢN PHẨM VỪA ĐƯỢC XEM</h1>
                <div class="box2con">
                    <div class="box-l">
                        <img src="../images/duong-nau-socola-mix.png" width="75" height="75"/>
                    </div>
                    <div class="box-r">
                        <p> <a href="#"> Đường Nâu Socola Mix </a></p>
                        <h2>45.000đ</h2>
                    </div>
                </div>
                <div class="box2con">
                    <div class="box-l">
                        <img src="../images/duong-nau-kem.png" width="75" height="75"/>
                    </div>
                    <div class="box-r">
                        <p> <a href="#">Đường nâu kem cheese </a></p>
                        <h2>45.000đ</h2>
                    </div>
                </div>
            </div>
            <div class="box3">
                <p id="id1">GIỎ HÀNG</p>
                <p id="id2">Chưa có sản phẩm trong giỏ hàng</p>
            </div>
        </div>
        <div class="content">
            <div class="box" id="idbox">
                <div class="box-l-content">
                    <img src="../images/duong-nau-kem.png" height="450" width="450"/>
                </div>
                <div class="box-r-content">
                    <p><a href="#" id="id3">Trang chủ / Mix Tiger Sugar</a></p>
                    <p><h1 id="id4">Đường Nâu Kem Cheese</h1></p>
                    <p id="id5">45.000đ</p>
                    <div id="khung">
                        <p id="id6">Tiger Sugar chúc bạn ngon miệng:</p>
                        <p>Giao hàng tận nơi rồi thanh toán</p>
                        <p>Có thể chọn size M,L,XL</p>
                    </div>
                    <div class="muahang">
                        <p><a href="#" style="color: white">MUA HÀNG</p>
                    </div>
                    <div class="icon">
                        <div class="datmon">
                            <p><a href="#" style="color: white">ĐẶT MÓN: 03.444.23.999</a></p>
                        </div>
                        <div class="facebook">
                            <p><a href="#" style="color: white">CHAT FACEBOOK</a></p>
                        </div>
                    </div>
                    <p id="id7">Danh mục: Mix Tiger Sugar</p>
                    <div class="icon2">
                        <div class="tron">
                            <img src="../images/facebook%20(1).png" width="35" height="35"/>
                        </div>
                        <div class="tron">
                            <img src="../images/twitter%20(1).png" width="35" height="35"/>
                        </div>
                        <div class="tron">
                            <img src="../images/github.png" width="35" height="35"/>
                        </div>
                        <div class="tron">
                            <img src="../images/linkedin.png" height="35" width="35"/>
                        </div>
                        <div class="tron">
                            <img src="../images/whatsapp.png" width="35" height="35"/>
                        </div>
                    </div>
                </div>
            </div>
            <p><span id="id8">ĐÁNH GIÁ(0)</span> <span id="id9">HƯỚNG DẪN THANH TOÁN</span></p>
            <div class="box" id="idbox2">
                <p><b style="color: #4f3b3b">Đánh giá</b></p>
                <p style="color: #4f3b3b">Chưa có đánh giá nào.</p>
            </div>
            <div class="box" id="idbox2">
                <div class="nhanxet">
                    <h2><b>Hãy là người đầu tiên nhận xét"Đường nâu kem kem cheese"</b></h2>
                    <p>Đánh giá của bạn</p>
                    <div class="rating">
                        <div class="tron" id="iconrate">
                            <img src="../images/star.png"/>
                        </div>
                        <div class="tron" id="iconrate">
                            <img src="../images/star.png"/>
                            <img src="../images/star.png"/>
                        </div>
                        <div class="tron" id="iconrate">
                            <img src="../images/star.png"/>
                            <img src="../images/star.png"/>
                            <img src="../images/star.png"/>
                        </div>
                        <div class="tron"id="iconrate">
                            <img src="../images/star.png"/>
                            <img src="../images/star.png"/>
                            <img src="../images/star.png"/>
                            <img src="../images/star.png"/>
                        </div>
                        <div class="tron"id="iconrate*">
                            <img src="../images/star.png"/>
                            <img src="../images/star.png"/>
                            <img src="../images/star.png"/>
                            <img src="../images/star.png"/>
                            <img src="../images/star.png"/>
                        </div>
                    </div>
                    <p>Nhận xét của bạn*</p>
                    <div id="idbox3">
                    </div>
                    <div id="idbox4">
                        <div id="idten"><b>Tên*</b></div>
                        <div id="idemail"><b>Email*</b></div>
                        <div id="idtenkhung"></div>
                        <div id="idemailkhung"></div>
                    </div>
                    <div class="guidi">
                        <p><a href="#">GỬI ĐI<a></p>
                    </div>
                </div>
            </div>
            <div class="box" id="box3">
                <div>
                    <p><b>SẢN PHẨM TƯƠNG TỰ</b></p>
                    <div class="sanphamtuongtu">
                        <div class="sanphamcuthe">
                            <img src="../images/duong-nau-socola-mix.png" width="200" height="200"/>
                        </div>
                        <div class="sanphamcuthe">
                            <img src="../images/duong-nau-dau-sua.jpg" width="200" height="200"/>
                        </div>
                        <div class="sanphamcuthe">
                            <img src="../images/duong-nau-machiato.png" width="200" height="200"/>
                        </div>
                        <div class="sanphamcuthe">
                            <img src="../images/duong-nau-cappuccino.jpg" width="200" height="200"/>
                        </div>
                        <div class="sanphamcuthe">
                            <img src="../images/duong-nau-sau-rieng.png" width="200" height="200"/>
                        </div>
                        <div class="sanphamcuthe">
                            <div class="tensanpham">
                                <p><a href="#">Đường Nâu Socola Mix</a></p>
                            </div>
                            <div class="giatien">
                                <p>45.000đ</p>
                            </div>
                            <div class="muangay">
                                <p><a href="#">MUA NGAY</a></p>
                            </div>
                        </div>
                        <div class="sanphamcuthe">
                            <div class="tensanpham">
                                <p><a href="#">Đường Nâu Sầu Riêng</a></p>
                            </div>
                            <div class="giatien">
                                <p>45.000đ</p>
                            </div>
                            <div class="muangay">
                                <p><a href="#">MUA NGAY</a></p>
                            </div>
                        </div>
                        <div class="sanphamcuthe">
                            <div class="tensanpham">
                                <p><a href="#">Đường Nâu Machiato</a></p>
                            </div>
                            <div class="giatien">
                                <p>45.000đ</p>
                            </div>
                            <div class="muangay">
                                <p><a href="#">MUA NGAY</a></p>
                            </div>
                        </div>
                        <div class="sanphamcuthe">
                            <div class="tensanpham">
                                <p><a href="#">Đường Nâu Capuchino</a></p>
                            </div>
                            <div class="giatien">
                                <p>45.000đ</p>
                            </div>
                            <div class="muangay">
                                <p><a href="#">MUA NGAY</a></p>
                            </div>
                        </div>
                        <div class="sanphamcuthe">
                            <div class="tensanpham">
                                <p><a href="#">Đường Nâu Dâu Sữa Dừa</a></p>
                            </div>
                            <div class="giatien">
                                <p>45.000đ</p>
                            </div>
                            <div class="muangay">
                                <p><a href="#">MUA NGAY</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
</body>
</html>
