<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>San Pham</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700,800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../vendors/fontawesome/css/all.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<header class="section">
    <div class="container">
        <div class="logo">
            <a href="#"><img src="../images/logo-tigersugar.png" alt=""></a>
        </div>
        <div class="banner-top">
            <img src="../images/banner-head.jpg" alt="">
        </div>
    </div>
</header>
<section class="section abc">
    <div class="container">
        <div class="menu">
            <ul>
                <li><a href="#" style="text-decoration: none">Trang chủ</a></li>
                <li><a href="view/gioithieu.html" target="_blank" style="text-decoration: none">Giới thiệu</a></li>
                <li><a href="view/menu.html" target="_blank" style="text-decoration: none">Menu</a></li>
                <li><a href="view/blog.html" target="_blank" style="text-decoration: none">Tin tức</a></li>
                <li><a href="view/lienhe.html" target="_blank" style="text-decoration: none">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="sidebar col-md-3">
                <div class="box">
                    <p><b>DANH MỤC SẢN PHẨM</b></p>
                    <p><a href="#">Cream + Milk Tea</a></p>
                </div>
                <div class="box">
                    <p><a href="#">Create + Flavors</a></p>
                </div>
                <div class="box">
                    <h4><b>Mix Tiger Sugar</b></h4>
                </div>
                <div class="box">
                    <p><a href="#" >Original Tiger Sugar</a></p>
                </div>
                <div class="box">
                    <p><a href="#">Top limited series</a></p>
                </div>
                <div class="box2">
                    <h4><b>SẢN PHẨM VỪA ĐƯỢC XEM</b></h4>
                    <div class="box2con">
                        <div class="box-l">
                            <img src="../images/duong-nau-socola-mix.png" width="65" height="80"/>
                        </div>
                        <div class="box-r">
                            <p> <a href="#"> Đường Nâu Socola Mix </a></p>
                            <h2>45.000đ</h2>
                        </div>
                    </div>
                    <div class="box2con">
                        <div class="box-l">
                            <img src="../images/duong-nau-kem.png" width="65" height="80"/>
                        </div>
                        <div class="box-r">
                            <p> <a href="#">Đường nâu kem cheese </a></p>
                            <h2>45.000đ</h2>
                        </div>
                    </div>
                </div>
                <div class="box3">
                    <p id="id1">GIỎ HÀNG</p>
                    <p id="id2">Chưa có sản phẩm trong giỏ hàng</p>
                </div>
            </div>
            <div class="content col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../images/duong-nau-socola-mix.png" width="240" height="320">
                    </div>
                    <div class="chuthich col-md-8">
                        <a href="#" style="text-decoration: none">Trang chủ </a> / <a href="#" style="text-decoration: none"> Mix Tiger Sugar</a>
                        <div class="form-inline">
                            <p id="id1">Đường Nâu Kem Cheese</p>
                        </div>
                        <div class="form-inline">
                            <p id="id2">45.000đ</p>
                        </div>
                        <div class="boxchuthich">
                            <p id="id3">Tiger Sugar chúc bạn ngon miệng</p>
                            <p>Giao hàng tận nơi rồi thanh toán</p>
                            <p>Có thể chọn size M, L, XL</p>
                        </div>
                        <div class="nut">
                            <div class="row">
                                <div class="col-md-5" style="padding-left: 0">
                                    <div class="left col-md-3" style="padding-right: 0">
                                        <button class="btn btn-default" style="width: 100%">
                                            -
                                        </button>
                                    </div>
                                    <div class="mid col-md-6">
                                        <div class="row">
                                            <button class="btn btn-default" style="width: 100%">
                                                0
                                            </button>
                                        </div>
                                    </div>
                                    <div class="right col-md-3" style="padding: 0">
                                        <button class="btn btn-default"style="width: 70%">
                                            +
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding: 0">
                                    <button class="btn btn-danger">Mua hàng</button>
                                </div>
                            </div>
                        </div>
                        <div class="nut">
                            <button type="submit" class="btn btn-warning">ĐẶT MÓN: 03.444.23.999</button>
                            <button type="submit" class="btn btn-primary" style="margin-left:10px">CHAT FACEBOOK</button>
                        </div>
                        <div>
                            <p>Danh Mục: <a href="#" style="text-decoration: none">Mix Tiger Sugar</a></p>
                        </div>
                        <div class="boxicon">
                            <div class="icon">
                                <i class="fab fa-facebook" style="color:#8b49e2;"></i>
                            </div>
                            <div class="icon">
                                <i class="fas fa-dove" style="color: #30ff30"></i>
                            </div>
                            <div class="icon">
                                <i class="fab fa-facebook-messenger" style="color: #ae86e2"></i>
                            </div>
                            <div class="icon">
                                <i class="fab fa-invision" style="color:#a0ae45;"></i>
                            </div>
                            <div class="icon">
                                <i class="fab fa-intercom" style="color: #ea3670"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="danhgia">
                        <div class="col-md-4">
                            <p><a href="#" style="text-decoration: none">Đánh giá(0)</a></p>
                        </div>
                        <div class="col-md-8">
                            <p><a href="#" style="text-decoration: none">Hướng dẫn thanh toán</a></p>
                        </div>
                    </div>
                    <div class="danhgia">
                        <div class="col-md-12">
                            <p><b>Đánh Giá</b></p>
                        </div>
                        <div class="col-md-12">
                            <p>Chưa có đánh giá nào.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="khung col-md-12">
                        <div class="col-md-12">
                            <b id="b1">Hãy là người đầu tiên đánh giá"Đường Nâu Kem Cheese"</b>
                        </div>
                        <div class="col-md-12">
                            <p id="b2">Đánh giá của bạn</p>
                        </div>
                        <div class="boxicon col-md-12">
                            <div class="iconsao1">
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red1()" onmouseleave="blue()"></a href="#">
                            </div>
                            <div class="iconsao2">
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red2()" onmouseleave="blue()"></a>
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red2()" onmouseleave="blue()"></a>
                            </div>
                            <div class="iconsao3">
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red3()" onmouseleave="blue()"></a>
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red3()" onmouseleave="blue()"></a>
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red3()" onmouseleave="blue()"></a>
                            </div>
                            <div class="iconsao4">
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red4()" onmouseleave="blue()"></a>
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red4()" onmouseleave="blue()"></a>
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red4()" onmouseleave="blue()"></a>
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red4()" onmouseleave="blue()"></a>
                            </div>
                            <div class="iconsao5">
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red5()" onmouseleave="blue()"></a>
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red5()" onmouseleave="blue()"></a>
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red5()" onmouseleave="blue()"></a>
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none"onmouseenter="red5()" onmouseleave="blue()"></a>
                                <a href="#" class="glyphicon glyphicon-star" style="text-decoration: none" onmouseenter="red5()" onmouseleave="blue()"></a>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <b id="b3">Nhận Xét Của Bạn***</b>
                        </div>
                        <div class="col-md-12 form-group">
                            <input name="nx" class="form-control"></input>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Tên**</label>
                            <input name="nx" class="form-control"></input>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Email**</label>
                            <input name="nx" class="form-control"></input>
                        </div>
                        <div class="col-md-12 form-group">
                            <button class="btn btn-danger">GỬI ĐI</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <b style="font-size: 18px">SẢN PHẨM TƯƠNG TỰ</b>
                    </div>
                </div>
                <div class="sanphamtuongtu row text-center" >
                    <div class="col-md-3">
                        <div class="anh"><img src="../images/duong-nau-socola-mix.png" width="165px" height="165px"></div>
                        <p class="span">Đường Nâu Dâu Sữa</p>
                        <button type="button" class="btn btn-warning">Mua ngay</button>
                    </div>
                    <div class="col-md-3">
                        <div class="anh"><img src="../images/duong-nau-sau-rieng.png" width="165px" height="165px"></div>
                        <p class="span">Đường Nâu Capuchino</p>
                        <button type="button" class="btn btn-warning">Mua ngay</button>
                    </div>
                    <div class="col-md-3">
                        <div class="anh"><img src="../images/duong-nau-machiato.png" width="165px" height="165px"></div>
                        <p class="span">Đường Nâu Machiato</p>
                        <button type="button" class="btn btn-warning">Mua ngay</button>
                    </div>
                    <div class="col-md-3">
                        <div class="anh"> <img src="../images/duong-nau-cacao-sua.jpg" width="165px" height="165px"></div>
                        <p class="span">Đường Nâu Sầu Riêng</p>
                        <button type="button" class="btn btn-warning">Mua ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contactleft">
        <button class="chatface">
            <a href="https://www.messenger.com" target="_blank">Chat Facebook</a>
        </button>

        <button class="hotlineleft">
            <a href="tel:091213259">Hotline: 0912132596</a>
        </button>
    </div>

    <div class="contactright">
        <a class="item1" href="#">Chương Trình Khuyến Mãi</a>
        <a class="item2" href="#">Xem Đầy Đủ Menu</a>
        <a class="item3" href="#">Hệ Thống Cửa Hàng</a>
        <a class="item4" href="#">Nhượng Quyền Thương Hiệu</a>
    </div>
</section>
<script type="text/javascript" src="../js/sanpham.js"></script>
</body>
</html>
