<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanh Toan</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap3.3.7/css/bootstrap.css">
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/thanhtoan.js" type="text/javascript">
    </script>
</head>
<body>

<section class="section jqk col-md-12">
    <div class="container-fluid">
        <div class="headermin">
            <div class="box-1 col-md-12">
                <div class="box-a col-md-2">
                    <p>Bạn đã có tài khoản?</p>
                </div>
                <div class="box-b col-md-10">
                    <p>Ấn vào đây để đăng nhập</p>
                </div>
            </div>
            <div class="box-2 col-md-12">
                <div class="box-a col-md-2">
                    <p>Bạn có mã ưu đãi?</p>
                </div>
                <div class="box-b col-md-10">
                    <p>Ấn vào đây để nhập mã</p>
                </div>
            </div>
        </div>
        <div class="headerbig">
            <div class="box-left col-md-7">
                <div class="box-1 col-md-12">
                    <p>THÔNG TIN THANH TOÁN</p>
                    <form method="get/post" action="#" class="col-md-6">
                        <label>Tên*</label>
                        <div id="top-1">
                            <textarea name="description" rows="2" cols="35" placeholder=""></textarea><br/>
                        </div>
                    </form>
                    <form method="get/post" action="#" class="col-md-6">
                        <label>Họ*</label>
                        <div id="top-2">
                            <textarea name="description" rows="2" cols="35" placeholder=""></textarea><br/>
                        </div>
                    </form>
                    <form method="get/post" action="#" class="col-md-6">
                        <label>Địa chỉ*</label>
                        <div id="top-3">
                            <textarea name="description" rows="2" cols="35" placeholder=""></textarea><br/>
                        </div>
                    </form>
                    <form method="get/post" action="#" class="col-md-12">
                        <label>Số Điện Thoại*</label>
                        <div id="top-4">
                            <textarea name="description" rows="2" cols="78" placeholder=""></textarea><br/>
                        </div>
                    </form>
                    <form method="get/post" action="#" class="col-md-12">
                        <label>Địa chỉ email*</label>
                        <div id="top-5">
                            <textarea name="description" rows="2" cols="78" placeholder=""></textarea><br/>
                        </div>
                    </form>
                    <form method="get/post" action="#" class="col-md-12">
                        <label><input type="checkbox" name="condition"/>Tạo tài khoản mới?</label><br/>
                    </form>
                </div>
                <div class="box-2 col-md-12">
                    <div class="box-a col-md-12">
                        <p>THÔNG TIN BỔ SUNG</p>
                    </div>
                    <div class="box-b col-md-12">
                        <form method="get/post" action="#">
                            <label>Ghi chú đơn hàng (tùy chọn)</label>
                            <div id="top-x">
                                <textarea name="description" rows="5" cols="78" placeholder="Ghi chu ve don hang, vi du:thoi gian hay chi dan dia diem giao hang chi tiet hon."></textarea><br/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box-right col-md-5">
                <div class="box-1 col-md-12">
                    <div class="box-a col-md-12">
                        <p>ĐƠN HÀNG CỦA BẠN</p>
                    </div>
                </div>
                <div class="box-2 col-md-12">
                    <div class="box-a col-md-10">
                        <p>SẢN PHẨM</p>
                    </div>
                    <div class="box-b col-md-2">
                        <p>TỔNG</p>
                    </div>
                </div>
                <div class="box-3 col-md-12">
                    <div class="box-a col-md-10">
                        <p>Đường nâu kem cheese</p>
                    </div>
                    <div class="box-b col-md-2">
                        <p>45.000</p>
                    </div>
                </div>
                <div class="box-4 col-md-12">
                    <div class="box-a col-md-10">
                        <p>Đường nâu socola mix</p>
                    </div>
                    <div class="box-b col-md-2">
                        <p>45.000</p>
                    </div>
                </div>
                <div class="box-5 col-md-12">
                    <div class="box-a col-md-10">
                        <p>Tạm tính</p>
                    </div>
                    <div class="box-b col-md-2">
                        <p>45.000</p>
                    </div>
                </div>
                <div class="box-6 col-md-12">
                    <div class="box-a col-md-10">
                        <p>Tổng</p>
                    </div>
                    <div class="box-b col-md-2">
                        <p>45.000</p>
                    </div>
                </div>
                <div class="pay col-md-12">
                    <div class="box-a col-md-12">
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio" ><strong>Trả tiền mặt khi nhận hàng</strong>
                            </label>
                            <p>Trả tiền mặt khi giao hàng</p>
                        </form>
                    </div>
                    <div class="box-b col-md-12">
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio"><strong>Chuyển khoảng ngân hàng trực tiếp</strong>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="box-8 col-md-12">
                    <div class="box-a col-md-4">
                        <div class=" box-a-1 col-md-12" style="background-color: red;text-align: center">
                            <a>ĐẶT HÀNG</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="contactleft">
    <button class="chatface">
        <a href="https://www.messenger.com" target="_blank">Chat Facebook</a>
    </button>

    <button class="hotlineleft">
        <a href="tel:0912132595">Hotline: 0912132595</a>
    </button>
</div>

<div class="contactright">
    <a class="item1" href="#">Chương Trình Khuyến Mãi</a>
    <a class="item2" href="#">Xem Đầy Đủ Menu</a>
    <a class="item3" href="#">Hệ Thống Cửa Hàng</a>
    <a class="item4" href="#">Nhượng Quyền Thương Hiệu</a>
</div>


<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="../js/footer.js"></script>
<script src="../vendors/bootstrap3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../vendors/nivoslider/jquery.nivo.slider.js" type="text/javascript"></script>
<script type="text/javascript">$('#slider').nivoSlider();</script>
</body>
</html>