<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanh Toan</title>
    <link rel="stylesheet" type="text/css" href="../css/thanhtoan.css"/>
</head>
<body>
    <header class="section">
        <div class="container">
            <div class="logo">
                <img src="../images/logo-tigersugar.png"/>
            </div>
            <div class="box-middle">
                <img src="../images/banner_tiger_sugar.jpg"/>
            </div>
            <div class="box-right">
                <a href="#"><img src="../images/shopping-cart.png"/></a>
            </div>
        </div>
        <div class="menu">
            <h3><a href="#">TRANG CHU</a></h3>
            <ul>
                <li><a href="#">GIOI THIEU</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">TIN TUC</a></li>
                <li><a href="#">LIEN HE</a></li>
            </ul>
            <div class="box-right">
                <p>HOT LINE: 012.345.678</p>
            </div>
        </div>
</header>
    <section class="section">
        <div class="container">
            <div class="box-1">
                <div class="box-a">
                    <div class="box-a-1">
                        <p>Bạn đã có tài khoan?</p>
                    </div>
                    <div class="box-a-2">
                        <a href="#">Ấn vào đây để đăng nhap </a>
                    </div>
                </div>
                <div class="box-b">
                    <div class="box-b-1">
                        <p>Bạn có mã ưu dai?</p>
                    </div>
                    <div class="box-b-2">
                        <a href="#">An vao day de nhap ma</a>
                    </div>
                    <div class="item">
                        <p>Thanh toan Ten la muc bat buoc</p>
                        <p>Thanh toan Ho la muc bat buoc</p>
                        <p>Thanh toan Dia chi la muc bat buoc</p>
                        <p>Thanh toan So dien thoai la muc bat buoc</p>
                        <p>Thanh toan Dia chi email la muc bat buoc</p>
                    </div>
                </div>
            </div>
            <div class="box-2">
                <div class="box-left">
                    <div class="box-2-1">
                        <div class="box">
                            <p>THONG TIN THANH TOAN</p>
                        </div>
                        <div class="box-a">
                            <p>Ten*</p>
                            <div class="box-a-1">
                                <form method="get/post" action="#">
                                    <textarea name="description" rows="2" cols="40" placeholder=""></textarea><br/>
                                </form>
                            </div>
                        </div>
                        <div class="box-b">
                            <p>Ho*</p>
                            <div class="box-b-1">
                                <form method="get/post" action="#">
                                    <textarea name="description" rows="2" cols="40" placeholder=""></textarea><br/>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box-2-2">
                        <div class="box">
                            <p>Dia chi*</p>
                        </div>
                        <div class="box-a">
                            <form method="get/post" action="#">
                                <textarea name="description" rows="2" cols="40" placeholder="Dia chi"></textarea><br/>
                            </form>
                        </div>
                    </div>
                    <div class="box-2-3">
                        <div class="box">
                            <p>So Dien Thoai*</p>
                        </div>
                        <div class="box-a">
                            <form method="get/post" action="#">
                                <textarea name="description" rows="2" cols="85" placeholder=""></textarea><br/>
                            </form>
                        </div>
                    </div>
                    <div class="box-2-4">
                        <div class="box">
                            <p>Dia chi email*</p>
                        </div>
                        <div class="box-a">
                            <form method="get/post" action="#">
                                <textarea name="description" rows="2" cols="85" placeholder=""></textarea><br/>
                            </form>
                        </div>
                    </div>
                    <div class="box-2-5">
                        <label><input type="checkbox" name="condition"/>Tao tai khoan moi? </label><br/>
                    </div>
                    <div class="box-2-6">
                        <div class="box">
                            <p>THONG TIN BO SUNG</p>
                        </div>
                        <div class="box-a">
                            <div class="box-a-1">
                                <p>Ghi chu don hang (tuy chon)</p>
                            </div>
                            <div class="box-a-2">
                                <form method="get/post" action="#">
                                    <textarea name="description" rows="7" cols="85" placeholder="Ghi chu ve don hang,vi du:thoi gian hay chi dan dia diem giao hang chi tiet hon."></textarea><br/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-right">
                    <div class="box">
                        <div class="box-middle">
                            <div class="box-2-1">
                                <p>DON HANG CUA BAN</p>
                            </div>
                            <div class="box-2-2">
                                <div class="box-a">
                                    <p>San pham</p>
                                </div>
                                <div class="box-b">
                                    <p>Tong</p>
                                </div>
                            </div>
                            <div class="box-2-3">
                                <div class="box-a">
                                    <p>Duong nau socola</p>
                                </div>
                                <div class="box-b">
                                    <p>45.000</p>
                                </div>
                            </div>
                            <div class="box-2-4">
                                <div class="box-a">
                                    <p>Duong nau kem cheese</p>
                                </div>
                                <div class="box-b">
                                    <p>45.000</p>
                                </div>
                            </div>
                            <div class="box-2-5">
                                <div class="box-a">
                                    <p>Tam tinh</p>
                                </div>
                                <div class="box-b">
                                    <p>90.000</p>
                                </div>
                            </div>
                            <div class="box-2-6">
                                <div class="box-a">
                                    <p>Tong</p>
                                </div>
                                <div class="box-b">
                                    <p>90.000</p>
                                </div>
                            </div>
                            <div class="box-2-7">
                                <div class="box-a">
                                    <form method="get/post" action="#">
                                        <label><input type="checkbox" name="condition"/>Trả tiền mặt khi nhận hàng</label><br/>
                                    </form>
                                </div>
                                <div class="box-b">
                                    <a class=" tab-1 active" onclick="changeTab(1)">Tra tien mat khi giao hang</a>
                                </div>
                            </div>
                            <div class="box-2-8">
                                 <div class="box-a">
                                     <form method="get/post" action="#">
                                         <label><input type="checkbox" name="condition"/>Chuyển khoản ngân hàng trực tiếp </label><br/>
                                     </form>
                                 </div>
                                <div class="box-b">
                                    <a class=" tab-2" onclick="changeTab(1)">Bạn cần chuyển khoản vào tài khoản ngân hàng của chúng tôi trước. Sau đó liên hệ để xác nhận thời gian và địa điểm nhận hàng!</a>
                                </div>
                            </div>
                            <div class="box-2-9">
                                <div class="box-a">
                                    <p>DAT HANG </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-1">
            <div class="box">
                <p>Thiet ke boi: Tiger Sugar Viet Nam</p>
            </div>
        </div>
    </section>
</body>
</html>